* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
  }
  
  .contact {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
  .contactForm {
    padding-left:25px;
    padding-right:25px;
    padding-top:60px;
    margin: 12px auto;
    border: 5px dotted rgb(211, 0, 0);
    border-radius: 20px;
    position:relative;
    z-index:1;
  }
  
  .contactForm > div{
    position:absolute;
    top:0;
    left:50%;
    padding:0 20px;
    transform:translate(-50%,-50%);
    background-color:black;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-align:center;
  }
  
  .contactForm > div > img{
    filter:invert(1);
    width:100px;
  }
  
  .contactForm > input,
  .contactForm > textarea {
    padding: 12px;
    margin: 12px auto;
    border: 1px solid #ccc;
    color: #ddd;
    background-color: #222;
    border-radius: 4px;
    display: block;
    width: 70vw;
  }
  
  .contactForm > textarea{
    height:100px;
    resize:none;
  }
  
  .contactForm > input[type="submit"] {
    max-width: 20vw;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
    transition: 0.35s;
  }
  
  .contactForm > input[type="submit"]:hover {
    background-color: rgb(97, 97, 97);
  }
  