.importance {
    overflow: hidden;
}

.importance h2 {
    margin-top: 50px;
    font-size: 40px;
    color: red;
    text-align: center;
}

.importance p {
    font-size: 15px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}