.importance {
    overflow: hidden;
}

.importance h2 {
    margin-top: 50px;
    font-size: 40px;
    color: red;
    text-align: center;
}

.importance p {
    font-size: 13px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.div-1{
    border-left: 2px dotted red;
    border-right: 2px dotted red;
    border-top: 2px dotted red;
    border-bottom: 2px dotted red;
    border-radius: 10px;
}

.div-2{
    border-right: 2px dotted red;
    border-left: 2px dotted red;
    border-top: 2px dotted red;
    border-bottom: 2px dotted red;
    border-radius: 10px;
}